.nnn {
height: 100px;
background-color: blue;
border-radius: 30px;
box-shadow: 5px 5px 20px rgba(0,0,0,0.7);

}
.menu {
      list-style: none;
      display: flex;
      justify-content: right;
      padding: 40px;
      font-size: larger;
      font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul li{
    margin: 20px;
}
.caixa{ 
    width: 300px;
    height: 600px;
    background-color: blueviolet;
    border-radius: 30px;
     box-shadow: 5px 5px 20px rgba(0,0,0.7);
     position: relative;
     top: 20px; 
     float: right;
}